langchain==0.1.14
langchain-ollama==0.0.8
langchain-community==0.0.29
langchain_text_splitters==0.0.1
langchain-core==0.1.33
elevenlabs==0.2.27
chromadb==0.4.24
ollama==0.1.7
fastembed==0.2.5
sentence-transformers==2.6.1
unstructured[all-docs]==0.12.6
pikepdf==8.12.2
pdfplumber==0.11.0
streamlit==1.34.0